<!--
including header content which is common for all pages
-->
<%- include ('../layouts/header.ejs') %>	


<p>1. // Get All Items (GET)</p>
<a href="http://localhost:3000/api/items">http://localhost:3000/api/items</a>
<p>2. // Get Single Item (GET)</p>
<a href="http://localhost:3000/api/items/1">http://localhost:3000/api/items/1</a>
<p>3. // Create a New Item (POST)</p>
<a href="http://localhost:3000/api/items">http://localhost:3000/api/items</a>
<p>4. // Update Item (PUT)</p>
<a href="http://localhost:3000/api/items/1">http://localhost:3000/api/items/1</a>
<p>5. // Delete Item (DELETE)</p>
<a href="http://localhost:3000/api/items/1">http://localhost:3000/api/items/1</a>


<!--
including footer content which is common for all pages
-->
<%- include ('../layouts/footer.ejs') %>
